* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}

/*  HEADER SECTION       */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar-brand {
  width: 150px;
}

.navbar-logo {
  width: 100%;
}

.button-primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  /* background-color: #dd2476; */
  color: #fff;
  border: none;
  padding: 20px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
}

.button-primary:hover {
  border: 2px solid #ff6767;
  cursor: pointer;
}

/* HERO SECTION*/
.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero-section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 12rem;
}

.hero-image {
  width: 100%;
}

.hero-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero-description {
  width: 100%;
  justify-content: center;
}

.hero-text {
  padding-top: 30px;
  padding-right: 70px;
  color: #1d3557;
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0;
}

/* MENU SECTION */

.explore__menu__text {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #1d3557;
}

.explore__menu__container {
  position: relative;
}

.explore__menu__gradient__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -3;
  transform: skewY(-5deg);
}

.explore__menu__lists {
  margin: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  padding: 0 120px;
}

.food__card {
  background-color: #f9f9f9;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.food__card__description {
  padding: 15px;
}

#pizza__card {
  margin-top: -20px;
  margin-bottom: 30px;
}
